
html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

  body {
    background-color: rgb(47, 219, 231);
    background: linear-gradient(180deg, rgba(47, 219, 231, 1) 0%, rgb(23, 64, 247) 100%);
  }
  
  h1 {
    border: none;
    text-align: center;
    font-size: 48px;
  }
  
  h2 {
    font-family: 'Ovo', serif;
    border: solid white;
    text-align: center;
    width: 300px;
    margin: auto;
  }
  
  h5 {
    border-top: dashed 4px white;
    border-right: dashed 4px black;
    border-left: dashed 4px black;
    border-bottom: dashed 4px white;
    text-align: center;
    font-size: 64px;
    margin: auto;
  }
  
  p, li {
    font-family: 'Montserrat', sans-serif;
  }
  
  nav {
    position: fixed;
    top: 10px;
    right: 10px;

  }
  
  nav ul {
    margin: 0;
    padding: 0;
  }

  nav li {
    list-style-type: none;
    padding: 0.5em;
    margin: 0.5em;

  }

  .toggle {
    text-align: right;
  }

  .item {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s linear;
  }

  .item a:hover {
    color: white;
  }

  .item a {
    color: #f5ef42;
    font-size: 36px;
    text-decoration: none;
  }

  .show {
    visibility: visible;
    opacity: 1;
  }
  
  article {
    padding-left: 50px;
    padding-right: 50px;
    display: flex;
    justify-content: flex-end;
    flex-flow: column;
  }

  #menu {
    background-color: rgb(47, 219, 231);
    background: linear-gradient(180deg, rgba(47, 219, 231, 1) 0%, rgb(23, 64, 247) 100%);
    text-align: center;
    width: auto;
    height: auto;
  }

  #menu table {
    text-align: center;
    margin-right: 1px;
    margin-left: 1px;
    padding-bottom: 20px;
    padding-top: 20px;
  }
  
  .sandwiches{
      border: 2px solid black;
    font-weight: bolder;
    font-size: 32px;
  }
  
  .sandwichtypes {
    text-align: center;
    font-size: 16px;
    list-style: square;
  }
  
  .wings {
    border: 2px solid black;
    font-weight: bolder;
    font-size: 32px;
  }
  
  .wingtypes {
    display: flex;
    justify-content: center;
  }
  
  .burgers{
      border: 2px solid black;
    font-weight: bolder;
    font-size: 32px;
  }
  
  .burgertypes {
    text-align: center;
    font-size: 16px;
    list-style: square;
  }
  
  .drinks{
      border: 2px solid black;
    font-weight: bolder;
    font-size: 32px;
  }
  
  .drinktypes {
    display: flex;
    justify-content: center;
  }
  
  .sidebyside {
    padding-left: 50px;
  }

  /*
  @media (min-width: 768px) {
    .drinks {
      font-size: 10px;
    }
  }
  */
  